.vscode
obj/
simulator
*.o
*.TXT
*.map
*.log
venv/
*.ipynb_checkpoints
/tools/*.txt
/tools/*.xml
/tools/args/
pyplot/
*.ipynb
*.out
tests/*/tests
maps/*.txt
#========================
model/2-dof/manipulator_6.xml
model/2-dof/manipulator_7.xml
model/2-dof/manipulator_8.xml
tools/random_map.py
