.vscode
obj/
simulator
*.o
*.TXT
*.map
*.log
venv/
*.ipynb_checkpoints
/tools/*.txt
/tools/*.xml
/tools/args/
pyplot/
*.ipynb
*.out
tests/*/tests
maps/*.txt
#========================
tools/random_map.py
