name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: configure
      run: .github/configure &&
           .github/build_structure
    - name: make
      run: make
    - name: unit tests
      run: xvfb-run -a ./run_integration_tests
    - name: integration tests
      run: ./run_integration_tests
